.carousel-section {
    margin: 0 10%;

    .carousel {
        cursor: grab;
        overflow: hidden;

        .inner-carousel {
            display: flex;

            .item {
                min-height: 12rem;
                min-width: 18rem;
                padding: 0.8rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    pointer-events: none;
                }
            }
        }
    }
}