@import './colors';
@import './fonts';
@import './mixins';

.form-section {
    
    .form {
        @include flex-center;
        flex-direction: column;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, 1)), url(../assets/main.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 100%;


        .form-container {
            margin: 20% 10% 10%;
            width: 30rem;
            height: 32rem;
            border-radius: 20px;
            padding: 2rem;
            background: $light-grey-color;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 4px;
            

            .header {
                z-index: 0;
                text-align: center;
                font-family: $font-montserrat;
                font-weight: 500;
                color: $black-color;
            }

            form {
                text-align: left;
                align-items: center;
                justify-content: space-between;
                font-family: $font-montserrat;
                background: $light-grey-color;

                .form-group {
                    input {
                        @include input;
                        width: 26rem;
                    }
                
                input:focus {
                    outline: none;
                }
                ::placeholder {
                    color: $grey-color;
                }
                input:focus::placeholder {
                    color: transparent;
                  }

                    .email-input{
                        margin-top: 0;
                    }   

                    textarea {
                    width: 26rem;
                    height: 12rem;
                    padding: 0.5rem;
                    justify-content: center;
                    margin-right: 0.5rem;
                    font-family: $font-montserrat;
                    font-size: 0.8rem;
                    color: $black-color;
                    border: 1px solid $white-color;
                    border-radius: 20px;
                    resize: none;
                    }
                    textarea:focus {
                        outline: none;
                    }
                    textarea:focus::placeholder {
                        color: transparent;
                      }
                    .error {
                        color: $secondary-color;
                        font-size: 0.7rem;
                    }
                }

                .submit {
                     display: flex;
                     input {
                        align-items: center;
                        justify-content: center;
                     }
                .button {
                    margin-top: 0;
                    margin-bottom: 2rem;
                    padding: 0.5rem 0.5rem;
                    height: 2rem;
                    width: 5rem;
                    font-family: $font-montserrat;
                    font-size: 0.8rem;
                    font-weight: 600;
                    border: 1px solid $main-color;
                    border-radius: 15px;
                    background-color: $main-color;
                    color: $white-color;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    
                }
                .button:hover {       
                        scale: 1.05;
                        transition: 0.5s;
                    }
                .button:active {
                        scale: 1;
                }}
                }
            }
        }
}



