@import './colors';
@import './fonts';
@import './mixins';

.header {
    position: sticky;
    top: 0;

    nav {
        @include flex-center;
        
        justify-content: space-between;
        height: 4.5rem;
        background-color: $main-color;

        .ul-items {
            list-style: none;
            font-family: $font-montserrat;
            margin-right: 10%;

            .li-items {

                a {
                text-decoration: none;
                color: $white-color;
                margin: 0 2rem;
                font-weight: 600;
            }
            
                a:hover {
                    color: $black-color;
                    transition: 1s;
                }

                :last-child {
                    margin-right: 0;
                }
                
            }
            
        }
        .logo {
            color: $white-color;
            font-family: $font-pacifico;
            font-size: 2.1rem;
            margin-left: 10%;
        }
    }
}