.underContruction {
    // height: 20rem;
    background-image: url(../assets/under.jpg);
    background-size: 22rem;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5% 10%;
    min-height: calc(100vh - 16.5rem);
}