.underContruction {
    height: 20rem;
    background-image: url(../assets/under.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 12% 10%;
}