@import './colors';
@import './fonts';
@import './mixins';

.main {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6),rgba(221, 213, 213, 0.7)), url(../assets/main.jpg);
    // background: url(../assets/main.jpg);
    height: 68vh;
    background-size: cover;
    overflow: hidden;

    .content {
        margin-top: 9rem;
        margin-bottom: 3rem;
        text-align: center;
        h1 {
        font-family: $font-montserrat;
        color: $black-color;
        font-size: 2.5rem;
        font-weight: 400;
        // text-shadow: 2px 2px 4px $black-color;
        }
    }

    .form_1 {
        display: flex;
        justify-content: center;
        font-family: $font-montserrat;
        font-size: 1.5rem;
        input {
            width: 60%;
            padding: 1rem;
            justify-content: center;
            margin-right: 1rem;
            font-family: $font-montserrat;
            font-size: 1rem;
            color: $black-color;
            border: 1px solid transparent;
            box-shadow: 0 0 10px $main-color;
            border-radius: 15px;
        }

        }
        input:focus {
            outline: none;   
        }
        ::placeholder {
            color: $grey-color;
        }
        input:focus::placeholder {
            color: transparent;
          }
       

        button {
            padding: 0 2rem;
            font-family: $font-montserrat;
            font-size: 1rem;
            font-weight: 500;
            border: 1px solid transparent;
            border-radius: 15px;
            background-color: $main-color;
            color: $white-color;
            cursor: pointer;
        }
        button:hover {
                color: $secondary-color;
                transition: 0.5s;
            }
}

.icon {
   color: rgb(255, 0, 0);
   font-size: 50px; 
}    

