.main {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85),rgba(221, 213, 213, 0.8)), url(../assets/main.jpg);
    // background: url(../assets/main.jpg);
    height: 80vh;
    background-size: cover;
    overflow: hidden;
}