@import './colors';
@import './fonts';
@import './mixins';

.section {
    @include section-space;

    .content {
        font-family: $font-montserrat;
        line-height: 35px;
        text-align: justify;
    }
}
//https://main--astounding-lily-5e1cd9.netlify.app/